body {
	text-align: center;
	background-color: #cbcbcb;
}
h1 {
	margin:0;
}
.wrapper{
	height: auto;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	font-size: 20px;
}
table{
	margin-right: auto;
	margin-left: auto;

}
form{
	margin: 20px;
}
button{
	margin-bottom: 25px;
}